<ion-header id="header">

</ion-header>

<ion-content>
<img class="foto" src="../../assets/icon/WhatsApp Image 2022-06-12 at 3.06.09 AM.jpeg">
<ion-card-content>
    <ion-list class="list" >
        <ion-item>
        <ion-label   position="floating">Ramona</ion-label>
        <ion-input type='text' required >
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Huron</ion-label>
        <ion-input   type="text" required >
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Rodrigo</ion-label>
        <ion-input   type="text" required >
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">978639032</ion-label>
        <ion-input   type="number" required >
        </ion-input>
    </ion-item>

    <ion-row >
        <ion-col>
        <ion-button (click)="salir()"class="boton"  color="danger"  >
            volver
        </ion-button>
        </ion-col>
    </ion-row>

    </ion-list>
</ion-card-content>

</ion-content>