
<ion-header id="head" >
  
</ion-header>

<ion-content>
      <img id="logoAPP" src="../../assets/icon/RescuePet.png" alt="logoAPP">
      <ion-row (click)= "animar5()">
        <ion-col>
          <ion-button (click)= "gotologin()" class="boton0"  color="danger" >
            Iniciar Sesión
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row (click)= "animar5()">
        <ion-col>
          <ion-button (click)="gotoregistro()" class="boton1"color="danger"   >
            Registrarse
          </ion-button>
        </ion-col>
      </ion-row>
</ion-content>